@model BarbieFashion.Models.ViewModels.InfoModelViewModel

@{
    ViewData["Title"] = "CreateMinorModel";
}

<h1>CreateMinorModel</h1>

<h4>Parents</h4>
<hr />

<form asp-action="CreateMinorModel">
    <div>
        <h4>InfoModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InfoModel.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.Name)
            </dt>
            <dd class="col-sm-10">
                <input asp-for="InfoModel.Name" value="@Model.InfoModel.Name" />
                <span asp-validation-for="InfoModel.Name"></span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.Age)
            </dt>
            <dd class="col-sm-10">
                <input asp-for="InfoModel.Age" value="@Model.InfoModel.Age" />
                <span asp-validation-for="InfoModel.Age"></span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.City)
            </dt>
            <dd class="col-sm-10">
                <input asp-for="InfoModel.City" value="@Model.InfoModel.City" />
                <span asp-validation-for="InfoModel.City"></span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.FullTimeJob)
            </dt>
            <dd class="col-sm-10">
                <input class="form-check-input" asp-for="InfoModel.FullTimeJob" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.InternationalWork)
            </dt>
            <dd class="col-sm-10">
                <input class="form-check-input" asp-for="InfoModel.FullTimeJob" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                <input asp-for="InfoModel.PhoneNumber" value="@Model.InfoModel.PhoneNumber" />
                <span asp-validation-for="InfoModel.PhoneNumber"></span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.Email)
            </dt>
            <dd class="col-sm-10">
                <input asp-for="InfoModel.Email" value="@Model.InfoModel.Email" />
                <span asp-validation-for="InfoModel.Email"></span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InfoModel.Personality)
            </dt>
            <dd class="col-sm-10">
                <input asp-for="InfoModel.Personality" value="@Model.InfoModel.Personality" />
                <span asp-validation-for="InfoModel.Personality"></span>
            </dd>
        </dl>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Parents.Name" class="control-label"></label>
                <input asp-for="Parents.Name" class="form-control" value="Marinete" />
                <span asp-validation-for="Parents.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parents.Age" class="control-label"></label>
                <input asp-for="Parents.Age" class="form-control" value="40" />
                <span asp-validation-for="Parents.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-id="@Model.InfoModel.Id" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
