@model BarbieFashion.Models.ViewModels.InfoModelViewModel

@{
    ViewData["Title"] = "CreateMinorModel";
}

<h1>CreateMinorModel</h1>

<h4>Parents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMinorModel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Parents.Name" class="control-label"></label>
                <input asp-for="Parents.Name" class="form-control" value="Marinete" />
                <span asp-validation-for="Parents.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parents.Age" class="control-label"></label>
                <input asp-for="Parents.Age" class="form-control" value="40" />
                <span asp-validation-for="Parents.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-id="@Model.InfoModel.Id" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h4>InfoModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.FullTimeJob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.FullTimeJob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.InternationalWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.InternationalWork)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoModel.Personality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoModel.Personality)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
